@model EasyFood.Data.review

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>review</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id_review)

        <div class="form-group">
            @Html.LabelFor(model => model.rating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rating)
                @Html.ValidationMessageFor(model => model.rating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.comment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comment)
                @Html.ValidationMessageFor(model => model.comment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_restaurant, "Заведение", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_restaurant", String.Empty)
                @Html.ValidationMessageFor(model => model.id_restaurant)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
