@model EasyFood.Data.review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>review</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restaurant.name_restaurant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restaurant.name_restaurant)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_review }) |
    @Html.ActionLink("Back to List", "Index")
</p>
