@model EasyFood.Data.dish_restaurant

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>dish_restaurant</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.id_dish, "Блюдо", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_dish", String.Empty)
                @Html.ValidationMessageFor(model => model.id_dish)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_restaurant, "Заведение", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_restaurant", String.Empty)
                @Html.ValidationMessageFor(model => model.id_restaurant)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
